<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccine Notifier</title>
</head>
<body>
   <nav class="navbar navbar-expand-md navbar-default shadow-sm">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-lg" href="https://vaccinefinder.org"><h3 style="padding-left: 200px"><strong><span class="text-info">Vaccine</span><span>Finder</span></strong></h3></a>
          <a class="navbar-brand visible-md" href="https://vaccinefinder.org"><h3 style="padding-left: 100px"><strong><span class="text-info">Vaccine</span><span>Finder</span></strong></h3></a>
          <a class="navbar-brand visible-sm" href="https://vaccinefinder.org"><h3 style="padding-left: 50px"><strong><span class="text-info">Vaccine</span><span>Finder</span></strong></h3></a>
          <a class="navbar-brand visible-xs" href="https://vaccinefinder.org"><h4><strong><span class="text-info">Vaccine</span><span>Finder</span></strong></h4></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="https://vaccinefinder.org"><h3>Home</h3></a></li>
            <li><a href="https://vaccinefinder.org/search/"><h3>Find Vaccines</h3></a></li>
            <!-- URL below needs to be updated once website paths are determined -->
            <li><a href="/"><h3>Sign Up</h3></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</body>
</html>